@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 75%; /* Tăng diện tích khung nội dung chính */
    margin-left: 250px; /* Cân chỉnh khoảng cách với sidebar nhỏ hơn */
  }
  .md-sidebar--primary {
    width: 250px; /* Giảm chiều rộng sidebar bên trái */
    left: 0; /* Đặt sát mép trái */
  }
  .md-sidebar--secondary {
    right: 0; /* Sidebar bên phải vẫn sát mép phải */
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }
}
